body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.canvas {
    padding: 0;
    margin: 0;
    width: 800px;
    height: 400px;
    background: #c0a16b;
    margin-top: 10px
}